@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

#ban_page_wrapper{
	background-color: #fff;
	position: absolute;
	width: 300px;
	height: 250px;
	overflow: hidden;
	top: 0;
	left: 0;
}

.ban_page_item {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* step-1 */
.ban_page_item#pet_sp1_logo_fundo{
	background-image: url('img/background.png');

    width: 300px;
    height: 250px;
    
    left: 0px;
    top: 0px;

    -webkit-animation-name: exemplo;
    animation-name: exemplo;

    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;

    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.ban_page_item#pet_sp1_pet_logo{
	background-image: url('img/logo.png');

    top: 4px;
    
    position: absolute;

    width: 287px;
    height: 246px;

    z-index: 55;

    -webkit-animation-name: exemploLogo;
    animation-name: exemploLogo;


    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;

	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.ban_page_item#pet_sp2_garrafa{
	background-image: url('img/2-1.jpg');

	width: 300px;
    height: 250px;
    
    left: 0px;
    top: 0px;

	-webkit-animation-name: exemplo;
	animation-name: exemplo;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

.ban_page_item#pet_sp3_pre_praia{
	background-image: url('img/2-2.jpg');

	width: 100%;
	height: 100%;

	left: 0px;
	top: 0px;

	-webkit-animation-name: exemplo;
	animation-name: exemplo;
	-webkit-animation-delay: 6.1s;
	animation-delay: 6.1s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

.ban_page_item#pet_sp4_praia{
	background-image: url('img/2-3.jpg');

	width: 100%;
	height: 100%;

	left: 0px;
	top: 0px;

	-webkit-animation-name: exemplo;
	animation-name: exemplo;
	-webkit-animation-delay: 8.1s;
	animation-delay: 8.1s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

.ban_page_item#pet_sp5_final{
	background-image: url('img/background.png');

	width: 100%;
	height: 100%;

	left: 0px;
	top: 0px;

	z-index: 10;

	-webkit-animation-name: exemploFinal;
	animation-name: exemploFinal;
	-webkit-animation-delay: 10.1s;
	animation-delay: 10.1s;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

.ban_page_item#pet_sp5_garrafas{
	background-image: url('img/garrafas.png');

	position: absolute;

	left: 2px;
	top: 11px;
	
	width: 159px;
	height: 279px;

	z-index: 124;

	-webkit-animation-name: exemploFinal;
	animation-name: exemploFinal;
	-webkit-animation-delay: 11.5s;
	animation-delay: 11.5s;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

.ban_page_item#pet_sp5_texto{
	background-image: url('img/texto.png');

	width: 100%;
	height: 100%;

	position: absolute;

	left: 185px;
	top: 45px;

	z-index: 122;

	-webkit-animation-name: exemploTexto;
	animation-name: exemploTexto;
	-webkit-animation-delay: 12.5s;
	animation-delay: 12.5s;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.ban_page_item#pet_sp5_botao{
	background-image: url('img/botao.png');

	width: 115px;
	height: 37px;

	position: absolute;

	left: 165px;
	top: 185px;

	z-index: 122;

	-webkit-animation-name: exemploBotao;
	animation-name: exemploBotao;
	-webkit-animation-delay: 12.5s;
	animation-delay: 12.5s;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

@-webkit-keyframes exemplo {
  0%, 100% {
      opacity: 0;
  }
  10%, 90% {
      opacity: 1;
  }
}

@keyframes exemplo {
  0%, 100% {
      opacity: 0;
  }
  10%, 90% {
      opacity: 1;
  }
}

@-webkit-keyframes exemploFinal{
	0%, 100%{
		opacity: 0;
	}

	25%{
		opacity: 1;
	}

	30%, 100%{
		opacity: 1;
	}
}

@keyframes exemploFinal{
	0%, 100%{
		opacity: 0;
	}

	25%{
		opacity: 1;
	}

	30%, 100%{
		opacity: 1;
	}
}

@-webkit-keyframes exemploTexto{
	from{
		left: 300px; 
	}

    to{
    	left: 165px;
    }
}

@keyframes exemploTexto{
	from{
		left: 300px; 
	}

    to{
    	left: 165px;
    }
}

@-webkit-keyframes exemploBotao{
	from{
		width: 0px; 
	}

    to{
    	width: 115px;
    }
}

@keyframes exemploBotao{
	from{
		width: 0px; 
	}

    to{
    	width: 115px;
    }
}

@-webkit-keyframes exemploLogo{
	from{
		left: 300px;
	}

    to{
    	left: 3px;
    }
}

@keyframes exemploLogo{
	from{
		left: 300px;
	}

    to{
    	left: 3px;
    }
}