@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

#ban_page_wrapper{
	background-image: url('img/background.png');
	position: absolute;
	width: 970px;
	height: 90px;
	overflow: hidden;
	top: 0;
	left: 0;
}

.ban_page_item {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* step-1 */
.ban_page_item#pet_sp1_logo_fundo{
    width: 970px;
	height: 90px;
    
    left: 0px;
    top: 0px;

    -webkit-animation-name: exemplo;
    animation-name: exemplo;

    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;

    -webkit-animation-duration: 5s;
	animation-duration: 5s;
}

.ban_page_item#pet_sp1_pet_logo{
	background-image: url('img/logo.png');

    top: 4px;
    
    position: absolute;

    width: 248px;
    height: 90px;

    z-index: 156;

    -webkit-animation-name: exemploLogo;
    animation-name: exemploLogo;


    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;

	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.ban_page_item#pet_sp2_garrafa{
	background-image: url('img/mulher.png');

	width: 163px;
    height: 90px;
    
    left: 0px;
    top: 0px;

	-webkit-animation-name: exemplo;
	animation-name: exemplo;
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

.ban_page_item#pet_sp5_texto{
	background-image: url('img/texto.png');

	width: 306px;
	height: 69px;

	/*top: 10px;*/
	left: 225px;

	position: absolute;

	z-index: 159;

	-webkit-animation-name: exemploTexto;
	animation-name: exemploTexto;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.ban_page_item#pet_sp5_botao{
	background-image: url('img/botao.png');

	width: 121px;
	height: 40px;

	position: absolute;

	left: 585px;
	top: 32px;

	z-index: 122;

	-webkit-animation-name: exemploBotao;
	animation-name: exemploBotao;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

@-webkit-keyframes exemplo {
  0%, 100% {
      opacity: 0;
  }
  10%, 100% {
      opacity: 1;
  }
}

@keyframes exemplo {
  0%, 100% {
      opacity: 0;
  }
  10%, 100% {
      opacity: 1;
  }
}

@-webkit-keyframes exemploTexto{
	from{
		top: -70px;
	}

    to{
    	top: 10px;
    }
}

@keyframes exemploTexto{
	from{
		top: -70px;
	}

    to{
    	top: 10px;
    }
}

@-webkit-keyframes exemploBotao{
	from{
		width: 0px; 
	}

    to{
    	width: 121px;
    }
}

@keyframes exemploBotao{
	from{
		width: 0px; 
	}

    to{
    	width: 121px;
    }
}

@-webkit-keyframes exemploLogo{
	from{
		left: 970px;
	}

    to{
    	left: 722px;
    }

    100%{
    	opacity: 1;
    }
}

@keyframes exemploLogo{
	from{
		left: 970px;
	}

    to{
    	left: 722px;
    }

    100%{
    	opacity: 1;
    }
}