@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

#ban_page_wrapper{
	background-color: #fff;
	position: absolute;
	width: 300px;
	height: 250px;
	overflow: hidden;
	top: 0;
	left: 0;
    padding: 0;

    border: 1px solid red;
}

.ban_page_item{
    background-image: url('img/background.png');  
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* step 1 */
.ban_page_item#oni_sp1_ret_azul{
    background-image: url('img/retangulo_azul_01.png');

    width: 250px;
    height: 41px;

    position: absolute;

    /*left: -27px;*/
    top: 114px;

    z-index: 18;

    -webkit-animation-name: retanguloAzul;
    animation-name: retanguloAzul;

    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 2 */
.ban_page_item#oni_sp2_ret_laranja{
    background-image: url('img/retangulo_laranja_02.png');

    width: 206px;
    height: 41px;

    position: absolute;

    left: 0;
    top: 100px;

    z-index: 19;

    -webkit-animation-name: retanguloLaranja;
    animation-name: retanguloLaranja;

    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 3 */
.ban_page_item#oni_sp3_ret_fino_maior{
    background-image: url('img/retangulo_fino_maior_02.png');

    width: 221px;
    height: 2px;

    position: absolute;

    top: 130px;

    z-index: 21;

    -webkit-animation-name: retanguloFinoMaior;
    animation-name: retanguloFinoMaior;

    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 4 */
.ban_page_item#oni_sp4_ret_fino_menor{
    background-image: url('img/retangulo_fino_menor_01.png');

    width: 200px;
    height: 4px;

    position: absolute;

    top: 127px;

    z-index: 20;

    -webkit-animation-name: retanguloFinoMenor;
    animation-name: retanguloFinoMenor;

    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 5 */
.ban_page_item#oni_sp5_ret_grande_azul{
    background-image: url('img/retangulo_grande_azul_01.png');

    width: 277px;
    height: 151px

    position: absolute;

    top: 46px;
    left: 12px;

    z-index: 17;

    -webkit-animation-name: retangulaoGrandeAzul;
    animation-name: retangulaoGrandeAzul;

    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 6 */
.ban_page_item#oni_sp6_faixa_2015_entrando_inicio{
    background-image: url('img/faixa_2015_inicio.png');

    width: 300px;
    height: 250px;

    position: absolute;

    padding: 0;
    margin: 0;

    z-index: 30;

    -webkit-animation-name: faixaQuinzeInicio;
    animation-name: faixaQuinzeInicio;

    -webkit-animation-delay: 2s;
    animation-delay: 2s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 7 */
.ban_page_item#oni_sp7_faixa_2015_entrando_final{
    background-image: url('img/faixa_2015_final.png');

    width: 300px;
    height: 250px;

    position: absolute;

    padding: 0;
    margin: 0;

    z-index: 40;

    -webkit-animation-name: faixaQuinzeInicio;
    animation-name: faixaQuinzeInicio;

    -webkit-animation-delay: 3s;
    animation-delay: 3s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 8 */
.ban_page_item#oni_sp8_faixa_2015_saindo_inicio{
    background-image: url('img/faixa_2015_saindo_inicio.png');

    width: 300px;
    height: 250px;

    position: absolute;

    padding: 0;
    margin: 0;

    z-index: 50;

    -webkit-animation-name: faixaQuinzeInicio;
    animation-name: faixaQuinzeInicio;

    -webkit-animation-delay: 4s;
    animation-delay: 4s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* stpe 9 */
.ban_page_item#oni_sp9_faixa_2015_saindo_final{
    background-image: url('img/faixa_2015_saindo_final.png');

    width: 300px;
    height: 250px;

    position: absolute;

    padding: 0;
    margin: 0;

    z-index: 60;

    -webkit-animation-name: faixaQuinzeInicio;
    animation-name: faixaQuinzeInicio;

    -webkit-animation-delay: 5s;
    animation-delay: 5s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 10 */
.ban_page_item#oni_sp10_faixa_2016_entrando_inicio{
    background-image: url('img/faixa_2016_entrando_inicio.png');

    width: 300px;
    height: 250px;

    position: absolute;

    padding: 0;
    margin: 0;

    z-index: 70;

    -webkit-animation-name: faixaQuinzeInicio;
    animation-name: faixaQuinzeInicio;

    -webkit-animation-delay: 6s;
    animation-delay: 6s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 11 */
.ban_page_item#oni_sp11_faixa_2016_entrando_final{
    background-image: url('img/faixa_2016_entrando_final.png');

    width: 300px;
    height: 250px;

    position: absolute;

    padding: 0;
    margin: 0;

    z-index: 80;

    -webkit-animation-name: faixaQuinzeInicio;
    animation-name: faixaQuinzeInicio;

    -webkit-animation-delay: 7s;
    animation-delay: 7s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 12 */
.ban_page_item#oni_sp12_faixa_2016_saindo{
    background-image: url('img/faixa_2016_saindo.png');

    width: 300px;
    height: 250px;

    position: absolute;

    padding: 0;
    margin: 0;

    z-index: 90;

    -webkit-animation-name: faixaSaindo;
    animation-name: faixaSaindo;

    -webkit-animation-delay: 8s;
    animation-delay: 8s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;

    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;

}

/* step 13 */
.ban_page_item#oni_sp13_onix_entrando{
    background-image: url('img/onix.png');

    width: 300px;
    height: 250px;

    position: absolute;

    padding: 0;
    margin: 0;

    z-index: 89;

    -webkit-animation-name: onixEntrando;
    animation-name: onixEntrando;

    -webkit-animation-delay: 8.1s;
    animation-delay: 8.1s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 14 */
.ban_page_item#oni_sp14_linha_inferior{
    background-image: url('img/linha_inferior.png');

    width: 109px;
    height: 2px;

    top: 108px;

    position: absolute;

    z-index: 90;

    -webkit-animation-name: linhaInferior;
    animation-name: linhaInferior;

    -webkit-animation-delay: 8.5s;
    animation-delay: 8.5s;

    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/* step 15 */
.ban_page_item#oni_sp15_linha_superior{
    background-image: url('img/linha_superior.png');

    width: 109px;
    height: 3px;

    top: 35px;
    left: 29px;

    position: absolute;

    z-index: 91;

    -webkit-animation-name: linhaSuperior;
    animation-name: linhaSuperior;

    -webkit-animation-delay: 8.5s;
    animation-delay: 8.5s;

    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/* step 16 */
.ban_page_item#oni_sp16_carro_linha{
    background-image: url('img/carro_linha.png');

    width: 44px;
    height: 17px;

    top: 17px;
    left: 50px;

    position: absolute;

    z-index: 92;

    -webkit-animation-name: linhaSuperior;
    animation-name: linhaSuperior;

    -webkit-animation-delay: 8.7s;
    animation-delay: 8.7s;

    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/* step 17 */
.ban_page_item#oni_sp17_liquidacao{
    background-image: url('img/liquidacao.png');

    /*width: 150px;*/
    height: 38px;

    top: 35px;
    left: 40px;

    position: absolute;

    z-index: 93;

    -webkit-animation-name: textoLiquidacao;
    animation-name: textoLiquidacao;

    -webkit-animation-delay: 8.9s;
    animation-delay: 8.9s;

    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/* step 18 */
.ban_page_item#oni_sp18_chevrolet{
    background-image: url('img/chevrolet.png');

    /*width: 150px;*/
    height: 32px;

    top: 73px;
    left: 62px;

    position: absolute;

    z-index: 93;

    -webkit-animation-name: textoChevrolet;
    animation-name: textoChevrolet;

    -webkit-animation-delay: 8.9s;
    animation-delay: 8.9s;

    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/* step 19 */
.ban_page_item#oni_sp19_ult_modelo{
    background-image: url('img/ult_modelo.png');

    /*width: 192px;*/
    height: 51px;

    top: 45px;
    left: 62px;

    position: absolute;

    z-index: 95;

    -webkit-animation-name: textoUltModelo;
    animation-name: textoUltModelo;

    -webkit-animation-delay: 12s;
    animation-delay: 12s;

    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/* step 20 */
.ban_page_item#oni_sp20_oni_preco{
    background-image: url('img/onix_preco.png');

    /*width: 266px;*/
    height: 89px;

    top: 20px;
    left: 18px;

    position: absolute;

    z-index: 96;

    -webkit-animation-name: textoOnixPreco;
    animation-name: textoOnixPreco;

    -webkit-animation-delay: 14.8s;
    animation-delay: 14.8s;

    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/* step 21 */
.ban_page_item#oni_sp21_aproveite{
    background-image: url('img/aproveite.png');

    /*width: 260px;*/
    height: 46px;

    top: 20px;
    left: 18px;

    position: absolute;

    z-index: 97;

    -webkit-animation-name: textoAproveite;
    animation-name: textoAproveite;

    -webkit-animation-delay: 17.8s;
    animation-delay: 17.8s;

    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/* step 22 */
.ban_page_item#oni_sp22_clique_aqui{
    background-image: url('img/clique_aqui_02.png');

    width: 253px;
    height: 20px;

    top: 80px;

    position: absolute;

    z-index: 98;

    -webkit-animation-name: botaoCliqueAqui;
    animation-name: botaoCliqueAqui;

    -webkit-animation-delay: 20.8s;
    animation-delay: 20.8s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

/* step 23 */
.ban_page_item#oni_sp23_logo_chev{
    background-image: url('img/logo_chevrolet_02.png');

    /*width: 125px;*/
    height: 24px;

    top: 220px;
    left: 166px;

    position: absolute;

    z-index: 99;

    -webkit-animation-name: logoChevrolet;
    animation-name: logoChevrolet;

    -webkit-animation-delay: 22.8s;
    animation-delay: 22.8s;

    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

@-webkit-keyframes retanguloAzul{
    from{
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
    }

    90%{
        opacity: 1;
    }

    to{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100%{
        opacity: 0;
    }
}

@keyframes retanguloAzul{
    from{
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
    }

    90%{
        opacity: 1;
    }

    to{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100%{
        opacity: 0;
    }
}

@-webkit-keyframes retanguloLaranja{
    from{
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
    }

    to{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@keyframes retanguloLaranja{
    from{
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
    }

    to{
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes retanguloFinoMaior{
    from{
        left: 300px;
    }

    to{
        left: 79px;
    }
}

@keyframes retanguloFinoMaior{
    from{
        left: 300px;
    }

    to{
        left: 79px;
    }
}

@-webkit-keyframes retanguloFinoMenor{
    from{
        left: 300px;
    }

    to{
        left: 100px;
    }
}

@keyframes retanguloFinoMenor{
    from{
        left: 300px;
    }

    to{
        left: 100px;
    }
}

@-webkit-keyframes retangulaoGrandeAzul{
    0%, 100%{
        opacity: 0;
    }

    25%{
        opacity: 0.5;
    }

    30%, 100%{
        opacity: 1;
    }
}

@keyframes retangulaoGrandeAzul{
    0%, 100%{
        opacity: 0;
    }

    25%{
        opacity: 0.5;
    }

    30%, 100%{
        opacity: 1;
    }
}

@-webkit-keyframes faixaQuinzeInicio{
    0%, 100%{
        opacity: 0;
    }

    25%{
        opacity: 0.5;
    }

    30%, 100%{
        opacity: 1;
    }   
}

@keyframes faixaQuinzeInicio{
    0%, 100%{
        opacity: 0;
    }

    25%{
        opacity: 0.5;
    }

    30%, 100%{
        opacity: 1;
    }   
}

@-webkit-keyframes faixaSaindo{
    from{
        transform: translateY(250px);
    }

    50%{
        transform: translateY(-150px);
    }

    to{
        transform: translateY(-250px);
        opacity: 0;
    }
}

@keyframes faixaSaindo{
    from{
        transform: translateY(250px);
    }

    50%{
        transform: translateY(-150px);
    }

    to{
        transform: translateY(-250px);
        opacity: 0;
    }
}

@-webkit-keyframes onixEntrando{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes onixEntrando{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@-webkit-keyframes linhaInferior{
    from{
        transform: translateX(300px);
    }

    50%{
        transform: translateX(120px);
    }

    to{
        transform: translateX(167px);
    }

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes linhaInferior{
    from{
        transform: translateX(300px);
    }

    50%{
        transform: translateX(120px);
    }

    to{
        transform: translateX(167px);
    }  

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    } 
}

@-webkit-keyframes linhaSuperior{
    from{
        transform: translateX(-300px);
    }

    50%{
        transform: translateX(-150px);
    }

    to{
        transform: translateX(0);
    }

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes linhaSuperior{
    from{
        transform: translateX(-300px);
    }

    50%{
        transform: translateX(-150px);
    }

    to{
        transform: translateX(0);
    }  

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    } 
}

@-webkit-keyframes textoLiquidacao{
    from{
        width: 0px;
    }

    to{
        width: 150px;
    }

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes textoLiquidacao{
    from{
        width: 0px;
    }

    to{
        width: 150px;
    }

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@-webkit-keyframes textoChevrolet{
    from{
        width: 0px;
    }

    to{
        width: 194px;
    }

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes textoChevrolet{
    from{
        width: 0px;
    }

    to{
        width: 194px;
    }

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@-webkit-keyframes textoUltModelo{
    from{
        width: 0px;
    }

    to{
        width: 192px;
    }

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes textoUltModelo{
    from{
        width: 0px;
    }

    to{
        width: 192px;
    }

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@-webkit-keyframes textoOnixPreco{
    from{
        width: 0px;
    }

    to{
        width: 266px;
    }

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes textoOnixPreco{
    from{
        width: 0px;
    }

    to{
        width: 266px;
    }

    10%, 90%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@-webkit-keyframes textoAproveite{
    from{
        width: 0px;
    }

    to{
        width: 260px;
    }
}

@keyframes textoAproveite{
    from{
        width: 0px;
    }

    to{
        width: 260px;
    }
}

@-webkit-keyframes botaoCliqueAqui{
    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(38px);
    }
}

@keyframes botaoCliqueAqui{
    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(38px);
    }
}

@-webkit-keyframes logoChevrolet{
    from{
        width: 0px;
    }

    to{
        width: 125px;
    }
}

@keyframes logoChevrolet{
    from{
        width: 0px;
    }

    to{
        width: 125px;
    }
}